*{
text-align:center;
}

.img{

width:300px;
height:auto;}

table{
margin-top:5%;
margin-left: 43%;
background-color:#d18915;
opacity: 0.8;
}

body{
background-image: url( 'https://i.postimg.cc/4yJRxtp5/movie.png' );
background-size:100%;

}